{% extends "index.html" %}

{% block title %}All books{% endblock %}

{% block main %}
<div class="container">
    <ul class="row">
    {% for item in data %}
        {% if item.cover != 'noCover.jpg' %}
            {% set img = item.cover %}
        {% else %}
            {% set img = 'noCover.jpg' %}
        {% endif %}

        <li class="col-3 card">
        <img src="{{ url_for('static', filename=img) }}" class="card-img-top" alt="book_cover">
          <div class="card-body">
            <h5 class="card-title">
                {{ item.name }}
            </h5>
            <p class="card-text">
                {{ item.available }}
                {{ item.quantity }}
            </p>
            <button href="#" class="btn btn-primary">
                Add to cart
            </button>
          </div>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
