{% extends "index.jinja" %}

{% block title %}All books{% endblock %}

{% block main %}
<div>
    <ul>
    {% for item in data %}
        <li>
            <h3>{{ item.name }}</h3>
            <p>{{ item.available }}</p>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
