{% extends "index.html" %}

{% block title %}All books{% endblock %}
{% block script %}
<script type="text/javascript">
    const addTestBooks = () => {
        fetch('http://localhost:8080/api/add-books')
    }

    const addToCard = (eBookId) => {
        console.log(eBookId)
        fetch('http://localhost:8080/api/add-to-cart', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(eBookId)
        })
        .then(res => console.log(res))
        .then(() => location.href="cart")
    }
</script>
{% endblock %}
{% block main %}
<div class="container">
    <ul class="row">
    {% for item in data %}
        {% if item.cover != 'noCover.jpg' %}
            {% set img = item.cover %}
        {% else %}
            {% set img = 'noCover.jpg' %}
        {% endif %}

        {% if not item.available %}
            {% set statusModifier = 'card-dimmed' %}
        {% endif %}

        <li class="col-3 card {{ statusModifier }}">
        <img src="{{ url_for('static', filename=img) }}" class="card-img-top" alt="book_cover">
          <div class="card-body">
            <h5 class="card-title">
                {{ item.name }}
            </h5>
            <p class="card-text">
                Price: ${{ item.price }}
                Stock: {{ item.quantity }}
            </p>
            <button id="{{item.id}}" onclick="addToCard(this.id)" class="btn btn-primary">
                Add to cart
            </button>
            <select>

            </select>
          </div>
        </li>
    {% endfor %}
    </ul>
    <button onclick="addTestBooks()">Add test books</button>
</div>
{% endblock %}
