{% extends "index.html" %}

{% block title %}All books{% endblock %}

{% block main %}
<div class="container">
    <ul class="row">
    {% for item in data %}
        {% if item.cover != 'noCover.jpg' %}
            {% set img = item.cover %}
        {% else %}
            {% set img = 'noCover.jpg' %}
        {% endif %}

        {% if not item.available %}
            {% set statusModifier = 'card-dimmed' %}
            {% set buttonModifier = 'true' %}
        {% endif %}

        <li class="col-3 card {{ statusModifier }}">
        <img src="{{ url_for('static', filename=img) }}" class="card-img-top" alt="book_cover">
          <div class="card-body">
            <h5 class="card-title">
                {{ item.name }}
            </h5>
            <p class="card-text">
                Stock: {{ item.quantity }}
            </p>
            <button href="#" class="btn btn-primary" disabled="{{ buttonModifier }}">
                Add to cart
            </button>
          </div>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
